# Recipient (Must have USDC trustline)
STELLAR_RECIPIENT=""

# Payer (not used in UI, just in testing script)
# STELLAR_SECRET=""

# Fee Payer (Pays XLM gas fee)
FEE_PAYER_SECRET=""

# Transaction Envelope Source (Pays Sequence number)
ENVELOPE_SIGNER_SECRET=""

# Other config
MPP_SECRET_KEY=""

# Agent Demo (Claude API)
ANTHROPIC_API_KEY=""
